@media only screen and (max-width: 37.5em) {
  .menu {
    display: block;
    z-index: 4;
  }

  .menu__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .header {
    padding: 2.5rem;
    justify-content: center;
    gap: 2rem;
  }

  .header__logo {
    height: 3.5rem;
    margin-right: auto;
  }

  .header__logo-img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .header__nav {
    flex: 0;
  }

  .header__nav-list {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 0;

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    background-color: var(--neutral-color-1);
    padding: 14rem 4rem;
    height: 100%;
    width: 60%;
  }

  .header__nav-list::before {
    content: '';
    width: 80%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    right: -80%;
    top: 0;
  }

  .header__nav-item {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--very-dark-blue);
  }

  .header__nav-item:hover::after {
    width: 0;
  }

  .header__cart-img {
    width: 4rem;
  }

  .basket {
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: auto;
  }

  .basket__header {
    padding: 4rem;
  }

  .basket-heading {
    font-size: 3rem;
  }

  .basket__container {
    padding: 3rem;
    gap: 2.5rem;
  }

  .header__cart-item {
    gap: 2.2rem;
  }

  .header__cart-popup {
    padding: 1.5px 5px;
    top: -7px;
    right: -3px;
  }

  .header__cart-img--1 {
    width: 25%;
  }

  .header__cart-img--2 {
    width: 10%;
  }

  .basket__paragraph {
    font-size: 3rem;
  }

  hr {
    display: none;
  }

  .product {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .slider {
    width: 100%;
    height: 50vh;
  }

  .slider__product {
    width: 100%;
    height: 100%;
  }

  .slider__figure:hover::before {
    width: 0;
  }

  .slider__img {
    border-radius: 0;
  }

  .slider__list {
    display: none;
  }

  .product__content {
    width: 100%;
    padding: 4rem;
    padding-bottom: 10rem;

    display: block;
  }

  .btn__control {
    display: flex;
    width: 100%;
  }

  .btn__icon {
    width: 7rem;
    height: 7rem;
  }

  .btn__icon:hover img {
    filter: none;
  }

  .cart {
    flex-direction: column;
  }

  .cart__count {
    font-size: 4rem;
    width: 100%;
  }

  .cart__btn {
    padding: 3rem 0;
    width: 100%;
  }

  .cart__btn:hover {
    opacity: 1;
  }

  .cart__img {
    width: 3.2rem;
    height: 3rem;
  }

  .cart__icon:hover {
    opacity: 1;
  }

  .add-to-cart {
    display: block;
    font-size: 2.5rem;
    transform: translateY(2px);
  }

  .heading-1 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 2rem;
  }

  .heading-3 {
    font-size: 2.75rem;
    margin-bottom: 2rem;
  }

  .paragraph {
    font-size: 2.55rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .display-flex {
    display: flex;
  }

  .price {
    display: inline-block;
    width: 50%;
    font-size: 3rem;
  }

  .price__main,
  .price__percent {
    display: inline-block;
  }

  .price__main {
    margin-right: auto;
  }

  .price__cancel {
    display: inline-block;
    font-size: 3rem;
  }

  .btn--1 {
    font-size: 2.8rem;
  }
}