*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-1: hsl(26, 100%, 55%);
  --primary-color-2: hsl(25, 100%, 94%);

  --neutral-color-1: hsl(0, 0%, 100%);
  --neutral-lightbox-bg: hsl(0, 0%, 0%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 31.25%;
  }
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

.menu {
  display: none;
  height: 100%;
}

.header,
.header__nav,
.header__nav-list,
.header__cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header {
  gap: 5rem;
  padding: 3rem 14rem;
}

.header__nav {
  flex: 1;
}

.header__nav-list {
  gap: 2rem;
  list-style: none;
  margin-right: auto;
  z-index: 2;
}

.header__nav-item {
  position: relative;
  color: var(--dark-grayish-blue);
}

.header__nav-item::after {
  content: '';
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, 150%);
  z-index: 2;

  width: 0;
  height: 3px;
  background-color: var(--primary-color-1);
}

.header__nav-item:hover {
  color: var(--very-dark-blue);
  transition: all 1s;
}

.header__nav-item:hover::after {
  width: 100%;
  transition: width 1s ease-out;
}

.header__nav-link:link,
.header__nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

.header__cart {
  gap: 4rem;
}

.header__cart:hover {
  cursor: pointer;
}

.header__cart-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__cart-icon--3 {
  border-radius: 5px;
}

.header__cart-img {
  position: relative;
  width: 3rem;
  height: auto;
}

.header__cart-img--1 {
  flex: 0 0 auto;
  width: 6.5rem;
  height: auto;
}

.header__cart-img--2 {
  flex: 0 0 auto;
  width: 2rem;
  height: auto;
}

.header__cart-popup {
  font-size: 10px;
  font-weight: 700;
  color: #fff;

  display: inline-block;
  padding: 2px 8px;
  border-radius: 1rem;
  background-color: var(--primary-color-1);

  position: absolute;
  top: -4px;
  right: 0;
}

.header__cart-basket {
  position: absolute;
  top: 9rem;
  right: 7rem;

  width: 45rem;
  height: 35rem;
  z-index: 2;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.176);

  display: flex;
  flex-direction: column;
}

.header__cart-heading,
.header__cart-main {
  flex: 0 0 auto;
  width: 100%;
}

.header__cart-heading {
  font-size: 2rem;
  color: var(--dark-grayish-blue);
  padding: 2rem;
}

.header__cart-main {
  border-top: 1px solid var(--grayish-blue);
  padding: 3rem 2rem;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__cart-paragraph {
  color: var(--dark-grayish-blue);
}

.header__cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  flex: 0 0 auto;
  width: 100%;
}

.header__cart-description {
  flex: 1;
}

.header__user-img {
  width: 5rem;
}

.header__user-img:hover {
  border-radius: 50%;
  border: 2px solid var(--primary-color-1);
  transition: border 100ms;
}

hr {
  position: absolute;
  border: .02px solid var(--grayish-blue);
  width: 80%;

  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;

  padding: 8rem 13rem;
}

.slider {
  position: relative;
  flex: 0 0 auto;
}

.slider--1 {
  width: 45rem;
}

.slider--2 {
  width: 40rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.slider__product {
  position: relative;
  overflow: hidden;
}

.slider__product--1 {
  height: 45rem;
}

.slider__product--2 {
  flex: 0 0 auto;
  width: 100%;
  height: 40rem
}

.slider__figure,
.overlay__figure {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.slider__img,
.overlay__img {
  display: block;
  object-fit: cover;
  border-radius: 1.3rem;
  width: 100%;
  height: 100%;
}

.slider__list,
.overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  list-style: none;
}

.slider__list {
  gap: 2.5rem;
  margin-top: 3rem;
}

.overlay__list {
  width: 90%;
  gap: 1.5rem;
}

.slider__item,
.overlay__item {
  position: relative;
  flex: 1;
}

.slider__item--active,
.overlay__item--active {
  border-radius: 1.5rem;
  border: 2px solid var(--primary-color-1);
}

.slider__item--active::before,
.overlay__item--active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.3rem;

  background-color: rgba(255, 255, 255, 0.483);
  z-index: 1;
}

.slider__item:hover::before,
.slider__figure:hover::before,
.overlay__item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 1.3rem;
  background-color: rgba(255, 255, 255, 0.483);
}

.product__content {
  flex: 0 0 auto;
  width: 50rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}


.heading-1 {
  font-size: 4rem;
  font-weight: 700;
  /* width: 40rem; */
  text-transform: capitalize;
  color: var(--very-dark-blue);
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color-1);
}

.paragraph {
  width: 95%;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-weight: 700;
}

.price__main {
  font-size: 3.5rem;
}

.price__percent {
  display: inline-block;
  padding: 3px 1rem;
  border-radius: 5px;
  color: var(--primary-color-1);
  background-color: var(--primary-color-2);
}

.price__cancel {
  font-size: 2rem;
  font-weight: 700;
  color: var(--grayish-blue);
  text-decoration: line-through;
}

.cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  transform: translateY(4rem);
  width: 100%;
}

.cart__count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  flex: 0 0 auto;
  width: 35%;
  padding: 1.5rem 0;
  border-radius: 1rem;
  background-color: var(--light-grayish-blue);

  font-size: 2rem;
  font-weight: 700;
}

.cart__count span {
  display: block;
  height: 100%;
}

.cart__icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cart__btn {
  flex: 1;

  padding: 1.5rem 0;
  border-radius: 1rem;
  color: var(--light-grayish-blue);
  background-color: var(--primary-color-1);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-weight: 700;
}

.cart__btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.cart__img {
  display: block;
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
}

.cart__img-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-to-cart {
  display: block;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.481);
}

.overlay:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.btn {
  padding: 2rem 0;
  outline: none;
  border: none;
  border-radius: 1rem;
  width: 100%;
  color: #fff;
  background-color: var(--primary-color-1);

  font-size: inherit;
  font-weight: 700;
}

.btn__close {
  align-self: flex-end;
  width: 2.5rem;
  height: 2.5rem;
}

.btn__close img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn__close:hover img {
  cursor: pointer;
  filter: hue-rotate(519deg) saturate(14.5);
}

.btn__control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.btn__control--1 {
  display: none;
  width: 0;
}

.btn__control--2 {
  width: 110%;
}

.btn__icon {
  background-color: var(--neutral-color-1);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon:hover img {
  cursor: pointer;
  filter: hue-rotate(519deg) saturate(45);
  transition: all 2s;
}